<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MyHuertingWeb</title>
    <link rel="stylesheet" href="css/styleGuias.css">
    <link rel="shortcut icon" href="images/logo.ico"" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/menuPrincipal/menuPrincipal.html" class="logo-link"><img src="images/arrow.svg"></a>
        <h1>📽️ Guías de Cultivo</h1>
    </header>
    <div id="contenedorVideos"></div>
    
    <script src="js/guias.js"></script>
</body>
</html>
