@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.add-task-wrapper {
    font-family: "Josefin Sans", sans-serif;
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    background-image: url('/images/fondoM.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-size: large;
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
    padding-bottom: 15px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgba(50, 50, 50, 0.8);
    backdrop-filter: blur(10px);
    color: white;
    padding: 0 10px;
    position: relative;
    font-size: 25px;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;  
    position: fixed;
    top: 50%;
    left: 30px; 
    transform: translateY(-50%); 
    z-index: 1000;
    cursor: pointer;  
    transition: transform 0.3s ease-in-out;
}

.logo-link img {
    height: 50px; 
    width: auto; 
}

.logo-link:hover {
    transform: translateY(-50%) scale(1.1);  
}

.form-container {
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #3ce744;
    font-size: 20px;
    text-align: left;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    height: 1.5em;
}

textarea {
    resize: none;
    height: auto;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #81c784;
}

select {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    height: 2.75em;
    box-sizing: border-box;
    appearance: none;
}

select:focus {
    outline: none;
    box-shadow: 0 0 5px #81c784;
}

button {
    padding: 12px;
    background-color: #3ce744;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: transparent;
    color: #fff;
    width: fit-content;
    padding: 0.5em 2em;
    border: 0.2em solid #3ce744;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    position: relative;
    gap: 3em;
    transition: all 0.6s ease;
    padding-right: 20px;
}

.button:hover {
    background-color: #43ff367a;
    cursor: pointer;
}

.button svg {
    width: 1.6em;
    height: 1.9em;
    position: absolute;
    left: 10px;
    transition: all 0.6s ease;
}

.button:hover svg {
    transform: translateX(5px);
}

.text {
    margin-left: 10px;
    z-index: 1;
}

.error {
    color: red;
    font-size: 1em;
    margin-top: 4px;
}

